{% extends "layout.html" %}
{% block title %}Delete directory{% endblock %}
{% block content %}
<div class="login">
<form method="post" class="pure-form pure-form-aligned">
<fieldset>
<legend class="label">Delete {{ dir }}?</legend>
<div class="pure-control-group">
<label for="cancel">This action cannot be undone.</label>
<a class="pure-button" href="/files" id="cancel">Cancel</a>
<button type="submit" class="pure-button pure-button-primary red" id="submit">Delete folder</button>
</div>
</fieldset>
</form>
</div>
{% endblock %}
