{% extends "layout.html" %}
{% block title %}Exposure controls{% endblock %}
{% block content %}
<div class="layout">
<div class="menu">
<div class="logo">
<img src="{{ url_for('static', filename='spiro.svg') }}" class="pure-img">
</div>
<div class="name">
{{ name }}
</div>
<div class="pure-menu">
<ul class="pure-menu-list">
<li class="pure-menu-item"><a href="/live/on" class="pure-menu-link">Live view</a></li>
{% if time == 'day' %}
<li class="pure-menu-item selected"><a href="/exposure/day" class="pure-menu-link">Day image settings</a></li>
<li class="pure-menu-item"><a href="/exposure/night" class="pure-menu-link">Night image settings</a></li>
{% else %}
<li class="pure-menu-item"><a href="/exposure/day" class="pure-menu-link">Day image settings</a></li>
<li class="pure-menu-item selected"><a href="/exposure/night" class="pure-menu-link">Night image settings</a></li>
{% endif %}
<li class="pure-menu-item"><a href="/calibrate" class="pure-menu-link">Calibrate motor</a></li>
<li class="pure-menu-item"><a href="/experiment" class="pure-menu-link">Experiment control</a></li>
<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log out</a></li>
<li class="pure-menu-item"><a href="/settings" class="pure-menu-link">System settings</a></li>
</ul>
</div>
</div>
<div class="main">
<div class="pure-g">
<div class="pure-u-12-24">
<div class="imgview">
<img class="pure-img" src="/stream.mjpg">
<div class="topleft-caption">Live view</div>
</div>
<form class="pure-form pure-form-aligned padleft padtop" method="post">
<fieldset>
<legend class="label">Exposure parameters</legend>
<div class="pure-control-group">
<label for="shutterrange" style="text-align:left;">Shutter speed (1/n)</label>
<input id="shutterrange" type="range" min="5" max="1000" step="1" value="{{ shutter }}" oninput="updateShutter(this.value);">
<input id="shutternumber" name="shutter" type="number" min="5" max="1000" step="1" value="{{ shutter }}" oninput="updateShutter(this.value);">
<label for="iso">ISO</label>
<input id="iso" name="iso" type="number" min="50" max="800">
</div>
<div class="pure-controls">
<button type="submit" class="pure-button green">Update and save</button>
</div>
</fieldset>
</form>
</div>
<div class="pure-u-12-24">
<div class="imgview">
{% if time == 'day' %}
<a href="/daystill.jpg" target="_blank">
<img class="pure-img" src="/daystill.jpg">
</a>
{% if dayshutter %}
<div class="topleft-caption">
Day image captured at 1/{{ dayshutter }} s
</div>
{% endif %}
{% else %}
<a href="/nightstill.jpg" target="_blank">
<img class="pure-img" src="/nightstill.jpg">
</a>
{% if nightshutter %}
<div class="topleft-caption">
Night image captured at 1/{{ nightshutter }} s
</div>
{% endif %}
{% endif %}
</div>
</div>
</div>
{% endblock %}
