{% extends "layout.html" %}
{% block title %}File manager{% endblock %}
{% block content %}
<div class="layout">
<div class="menu">
<div class="logo">
<img src="{{ url_for('static', filename='spiro.svg') }}" class="pure-img">
</div>
<div class="name">
{{ name }}
</div>
<div class="pure-menu">
<ul class="pure-menu-list">
{% if running %}
<li class="pure-menu-item pure-menu-disabled">Live view</li>
<li class="pure-menu-item pure-menu-disabled">Set up day image</li>
<li class="pure-menu-item pure-menu-disabled">Set up night image</li>
<li class="pure-menu-item pure-menu-disabled">Calibrate motor</li>
{% else %}
<li class="pure-menu-item"><a href="/live/on" class="pure-menu-link">Live view</a></li>
<li class="pure-menu-item"><a href="/exposure/day" class="pure-menu-link">Day image settings</a></li>
<li class="pure-menu-item"><a href="/exposure/night" class="pure-menu-link">Night image settings</a></li>
<li class="pure-menu-item"><a href="/calibrate" class="pure-menu-link">Calibrate motor</a></li>
{% endif %}
<li class="pure-menu-item"><a href="/experiment" class="pure-menu-link">Experiment control</a></li>
<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log out</a></li>
<li class="pure-menu-item"><a href="/settings" class="pure-menu-link">System settings</a></li>
<li class="pure-menu-item selected"><a href="/files" class="pure-menu-link">File manager</a></li>
</ul>
</div>
</div>
<div class="main">
<div class="pure-g" style="padding-top:30px;">
<div class="pure-u-24-24">
<legend class="label">File manager</legend>
<ul class="filelist">
{% for dir in dirs %}
<li class="filelist">{{ dir }} [<a href="/get/{{ dir }}.zip" class="download">Download</a>] [<a href="/delete/{{ dir }}" class="delete">Delete</a>]
{% endfor %}
</ul>
<hr>
<p class="diskspace"><b>Disk available:</b> {{ diskspace }} GB</p>
</div>
</div>
</div>
{% endblock %}
