{% extends "layout.html" %}
{% block title %}Main view{% endblock %}
{% block content %}
<div class="layout">
<div class="menu">
<div class="logo">
<img src="{{ url_for('static', filename='spiro.svg') }}" class="pure-img">
</div>
<div class="pure-menu">
<ul class="pure-menu-list">
<li class="pure-menu-item pure-menu-selected"><a href="/live/on" class="pure-menu-link">Live view</a></li>
<li class="pure-menu-item"><a href="/exposure/day" class="pure-menu-link">Day image settings</a></li>
<li class="pure-menu-item"><a href="/exposure/night" class="pure-menu-link">Night image settings</a></li>
<li class="pure-menu-item"><a href="/calibrate" class="pure-menu-link">Start position calibration</a></li>
<li class="pure-menu-item"><a href="/experiment" class="pure-menu-link">Start/view experiment</a></li>
<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log out</a></li>
<li class="pure-menu-item"><a href="/settings" class="pure-menu-link">System settings</a></li>
</ul>
</div>
</div>
<div class="main">
<div class="pure-g">
<div class="pure-u-18-24">
<div class="liveview">
<img src="stream.mjpg" class="pure-img fullheight">
</div>
</div>
<div class="pure-u-6-24">
<div class="toolbar">
<div class="tool">
<div class="onoffswitch">
{% if led %}
<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onclick="toggleLED(this.checked)" checked>
{% else %}
<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onclick="toggleLED(this.checked)">
{% endif %}
<label class="onoffswitch-label" for="myonoffswitch">
<span class="onoffswitch-inner"></span>
<span class="onoffswitch-switch"></span>
</label>
</div>
</div>
<div class="tool">
<label for="zoom">Zoom</label>
<input name="zoom" type="range" id="zoom" class="zoom" min="20" max="100" value="100" oninput="bgGet('/zoom/' + this.value);">
</div>
<div class="tool">
Pan
<div class="pan">
<div class="pan-left">
<a href="#" onclick="bgGet('/pan/x/-0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-left"></a>
</div>
<div class="pan-right">
<a href="#" onclick="bgGet('/pan/x/0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-right"></a>
</div>
<div class="pan-up">
<a href="#" onclick="bgGet('/pan/y/-0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-up"></a>
</div>
<div class="pan-down">
<a href="#" onclick="bgGet('/pan/y/0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-down"></a>
</div>
</div>
</div>
<div class="tool">
<form class="pure-form">
<label for="focusslider">Focus</label>
<input id="focusslider" type="range" id="focus" min="10" max="1000" step="10" value="{{ focus }}" oninput="updateFocusNumber(this.value);">
<input id="focusnumber" type="number" min="10" max="1000" step="1" value="{{ focus }}" oninput="updateFocusSlider(this.value);">
</form>
</div>
<div class="tool">
<a href="#" onclick="bgGet('/rotate/100')" class="pure-button"><img src="{{ url_for('static', filename='rotate90.svg') }}" class="icon"></a>
<a href="#" onclick="bgGet('/findstart')" class="pure-button"><img src="{{ url_for('static', filename='home.svg') }}" class="icon"></a>
</div>
</div>
</div>
</div>
{% endblock %}
