{% extends "layout.html" %}
{% block title %}Main view{% endblock %}
{% block content %}
<div id="layout">
<div class="pure-g">
<div class="pure-u-1-5" id="leftbar">
<h1>SPIRO control</h1>
<p><h2>LED</h2>
<a href="#" class="pure-button" onclick="bgGet('/led/on')">On</a>
<a href="#" onclick="bgGet('/led/off')" class="pure-button">Off</a></p>
{% if live %}
<p><h2>Zoom</h2>
<input type="range" class="zoom" min="20" max="100" value="100" oninput="bgGet('/zoom/' + this.value);">
<p><h2>Pan</h2>
<div class="pan">
<div class="pan-left">
<a href="#" onclick="bgGet('/pan/x/-0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-left"></a>
</div>
<div class="pan-right">
<a href="#" onclick="bgGet('/pan/x/0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-right"></a>
</div>
<div class="pan-up">
<a href="#" onclick="bgGet('/pan/y/-0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-up"></a>
</div>
<div class="pan-down">
<a href="#" onclick="bgGet('/pan/y/0.1')"><img src="{{ url_for('static', filename='triangle.svg') }}" class="pan-down"></a>
</div>
</div>
<p><h2>Focus</h2>
<a href="#" onclick="bgGet('/focus/-100')" class="pure-button">---</a>
<a href="#" onclick="bgGet('/focus/-15')" class="pure-button">--</a>
<a href="#" onclick="bgGet('/focus/-5')" class="pure-button">-</a>
<a href="#" onclick="bgGet('/focus/5')" class="pure-button">+</a>
<a href="#" onclick="bgGet('/focus/15')" class="pure-button">++</a>
<a href="#" onclick="bgGet('/focus/100')" class="pure-button">+++</a></p>
<p><h2>Rotate</h2>
<a href="#" onclick="bgGet('/rotate/100')" class="pure-button"><img src="{{ url_for('static', filename='rotate90.svg') }}" class="icon"></a>
<a href="#" onclick="bgGet('/findstart')" class="pure-button"><img src="{{ url_for('static', filename='home.svg') }}" class="icon"></a></p>
{% else %}
<p><a href="#" onclick="bgGet('/grab')" class="pure-button pure-button-primary" id="grab">Take a new picture</a></p>
{% endif %}
</div>
<div class="pure-u-4-5" id="main">
<div class="pure-menu pure-menu-horizontal" id="topmenu">
<ul class="pure-menu-list">
{% if live %}
<li class="pure-menu-item pure-menu-selected"><a href="/live/on" class="pure-menu-link">Live view</a></li>
<li class="pure-menu-item"><a href="/live/off" class="pure-menu-link">Still image view</a></li>
{% else %}
<li class="pure-menu-item"><a href="/live/on" class="pure-menu-link">Live view</a></li>
<li class="pure-menu-item pure-menu-selected"><a href="/live/off" class="pure-menu-link">Still image view</a></li>
{% endif %}
<li class="pure-menu-item"><a href="/experiment" class="pure-menu-link">Experiment control</a></li>
</ul>
</div>
<div>
{% if live %}
<img src="stream.mjpg" class="pure-img">
{% else %}
<img src="capture.jpg" class="pure-img">
{% endif %}
</div>
</div>
</div>
{% endblock %}
