{% extends "layout.html" %}
{% block title %}Experiment view{% endblock %}
{% block content %}
<div class="layout">
<div class="menu">
{% include "logo.html.inc" %}
<div class="pure-menu">
<ul class="pure-menu-list">
{% if running %}
<li class="pure-menu-item pure-menu-disabled">Live view</li>
<li class="pure-menu-item pure-menu-disabled">Set up day image</li>
<li class="pure-menu-item pure-menu-disabled">Set up night image</li>
<li class="pure-menu-item pure-menu-disabled">Calibrate motor</li>
{% else %}
<li class="pure-menu-item"><a href="/live/on" class="pure-menu-link">Live view</a></li>
<li class="pure-menu-item"><a href="/exposure/day" class="pure-menu-link">Day image settings</a></li>
<li class="pure-menu-item"><a href="/exposure/night" class="pure-menu-link">Night image settings</a></li>
<li class="pure-menu-item"><a href="/calibrate" class="pure-menu-link">Calibrate motor</a></li>
{% endif %}
<li class="pure-menu-item"><a href="/experiment" class="pure-menu-link">Experiment control</a></li>
<li class="pure-menu-item selected"><a href="/settings" class="pure-menu-link">System settings</a></li>
<li class="pure-menu-item"><a href="/files" class="pure-menu-link">File manager</a></li>
<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log out</a></li>
</ul>
</div>
</div>
<div class="main">
<div class="padtop padleft">
<form method="post" class="pure-form pure-g">
<fieldset>
<legend class="label">Settings</legend>
<div class="pure-u-3-4">
<label for="name">System name</label>
<input type="text" name="name" value="{{ name }}">
</div>
<div class="pure-u-1-4">
<button type="submit" class="pure-button green">Save</button>
<a href="/newpass" class="pure-button green passchange">Change password</a>
</div>
</fieldset>
</form>
<legend class="label">System info</legend>
<div class="pure-g sysinfo">
<div class="pure-u-2-5">
Version:
</div>
<div class="pure-u-3-5">
{{ version }}
</div>
</div>
<div class="pure-g sysinfo">
<div class="pure-u-2-5">
IP address:
</div>
<div class="pure-u-3-5">
{{ ip_addr }}
</div>
</div>
<div class="pure-g sysinfo">
{% if hotspot_ready and hotspot_enabled %}
<div class="pure-u-2-5">
Hotspot SSID:
</div>
<div class="pure-u-3-5">
{{ ssid }}
</div>
</div>
<div class="pure-g sysinfo">
<div class="pure-u-2-5">
Hotspot password:
</div>
<div class="pure-u-3-5">
{{ passwd }}
</div>
</div>
{% endif %}
{% if hotspot_ready %}
<div class="pure-u-2-5 vertical-center">
Wi-Fi hotspot:
</div>
<div class="pure-u-3-5">
<a href="/hotspot/start" class="pure-button {% if hotspot_enabled %} green {% endif %}">On</a> <a href="/hotspot/stop" class="pure-button {% if not hotspot_enabled %} green {% endif %}">Off</a>
</div>
</div>
{% endif %}
<div class="pure-g sysinfo">
<div class="pure-u-2-5 vertical-center">
Debug mode:
</div>
<div class="pure-u-3-5">
<a href="/debug/on" class="pure-button {% if debug %} green {% endif %}">On</a> <a href="/debug/off" class="pure-button {% if not debug %} green {% endif %}">Off</a>
</div>
</div>
<legend class="label">Shut down</legend>
<a href="/exit" class="pure-button">Restart web UI</a>
<a href="/reboot" class="pure-button">Reboot system</a>
<a href="/shutdown" class="pure-button">Power off system</a>
<a href="/log" class="pure-button">System log</a>
</div>
</div>
</div>
{% endblock %}
