{% extends "layout.html" %}
{% block title %}Experiment view{% endblock %}
{% block content %}
<div class="layout">
<div class="menu">
<div class="logo">
<img src="{{ url_for('static', filename='spiro.svg') }}" class="pure-img">
</div>
<div class="name">
{{ name }}
</div>
<div class="pure-menu">
<ul class="pure-menu-list">
{% if running %}
<li class="pure-menu-item pure-menu-disabled">Live view</li>
<li class="pure-menu-item pure-menu-disabled">Set up day image</li>
<li class="pure-menu-item pure-menu-disabled">Set up night image</li>
<li class="pure-menu-item pure-menu-disabled">Calibrate motor</li>
{% else %}
<li class="pure-menu-item"><a href="/live/on" class="pure-menu-link">Live view</a></li>
<li class="pure-menu-item"><a href="/exposure/day" class="pure-menu-link">Day image settings</a></li>
<li class="pure-menu-item"><a href="/exposure/night" class="pure-menu-link">Night image settings</a></li>
<li class="pure-menu-item"><a href="/calibrate" class="pure-menu-link">Calibrate motor</a></li>
{% endif %}
<li class="pure-menu-item"><a href="/experiment" class="pure-menu-link">Experiment control</a></li>
<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log out</a></li>
<li class="pure-menu-item selected"><a href="/settings" class="pure-menu-link">System settings</a></li>
<li class="pure-menu-item"><a href="/files" class="pure-menu-link">File manager</a></li>
</ul>
</div>
</div>
<div class="main">
<div class="padtop padleft">
<form method="post" class="pure-form pure-g">
<fieldset>
<legend class="label">Settings</legend>
<div class="pure-u-3-4">
<label for="name">System name</label>
<input type="text" name="name" value="{{ name }}">
</div>
<div class="pure-u-1-4">
<button type="submit" class="pure-button green">Save</button>
<a href="/newpass" class="pure-button green passchange">Change password</a>
</div>
</fieldset>
</form>
<legend class="label">Shut down</legend>
<a href="/exit" class="pure-button">Restart web UI</a>
<a href="/reboot" class="pure-button">Reboot system</a>
<a href="/shutdown" class="pure-button">Power off system</a>
</div>
</div>
</div>
{% endblock %}
